<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cadastral</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="field-cadastro">Fundo</td>
                                        <td class="field-value">
                                            173-ITAÚ INDEX
                                        </td>
                                        <td class="field-cadastro">Origem</td>
                                        <td class="field-value">
                                            XZ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field-cadastro">Data Base</td>
                                        <td class="field-value">
                                            02/03/2023
                                        </td>
                                        <td class="field-cadastro">PL</td>
                                        <td class="field-value">
                                            28.000000,123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field-cadastro">Gestor</td>
                                        <td class="field-value">
                                            ITAÚ UNIBANCO ASSET MANAGEMENT LTDA
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Riscos:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#metricas" data-toggle="tab">
                                            <i class="material-icons">analytics</i> Métricas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#segmento" data-toggle="tab">
                                            <i class="material-icons">segment</i> Segmento
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="metricas">
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Métrica</th>
                                            <th>Name</th>
                                            <th>Salary</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Dakota Rice</td>
                                                <td>$36,738</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Minerva Hooper</td>
                                                <td>$23,789</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sage Rodriguez</td>
                                                <td>$56,142</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Philip Chaney</td>
                                                <td>$38,735</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="segmento">
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Segmento</th>
                                            <th>Name</th>
                                            <th>Salary</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Dakota Rice</td>
                                                <td>$36,738</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Minerva Hooper</td>
                                                <td>$23,789</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sage Rodriguez</td>
                                                <td>$56,142</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Philip Chaney</td>
                                                <td>$38,735</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <app-dragdrop style="width: 100%;"></app-dragdrop>
            </div>
        </div> -->
        <div class="row">
            <app-dragdroptable style="width: 100%;"></app-dragdroptable>
        </div>
    </div>
</div>